@font-face {
font-family: 'Domaine Disp Cond';
src: url('DomaineDispCond-Regular.woff2') format('woff2'),
    url('DomaineDispCond-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}
@font-face {
    font-family: 'Domaine Disp Cond';
    src: url('DomaineDispCond-Regular.woff2') format('woff2'),
        url('DomaineDispCond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-Medium.woff2') format('woff2'),
        url('DrukWideCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cactus Jack Alternate';
    src: url('CactusJackAlternate.woff2') format('woff2'),
        url('CactusJackAlternate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Bold.woff2') format('woff2'),
        url('NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Regular.woff2') format('woff2'),
        url('NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



a {
    color: inherit;
    text-decoration: none;
}
body {
    background-color: #E4D7D7;
    padding: 0;
    margin: 0;
    font-family: 'Domaine Disp Cond';
    font-size: 22px;
}
h2,h3 {
    font-weight: 100;
}
.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.header.about .center.logo a svg path{ 
    fill: #000;
}
.header.about ul{
    color: #000;
}
.header.about .center.logo .reveal-logo-hover {
    color: #000;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.logo svg {
    width: 100%;
    height: auto;
}

.strip-three {
    padding-top: 160px;
    padding-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
}

.strip-three.full-bleed {
    padding-left: 0px;
    padding-right: 0px;
}

.strip-three.full-bleed .col{
    padding: 0;
}

.strip-three.padding-top {
    padding-top: 0;
}

.col {
    padding: 1vw;
}

.col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col.three {
    width: 30%;
}

.col.six {
    width: 60%;
}

.col.full {
    width: 100%;
}

.reveal-logo-hover {
    color: #fff;
}
.footer {
    position: fixed;
    z-index: 10;
    width: 100%;
    bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
}
.reveal-logo-hover {
    opacity: 0;
    transform: translateY(-10px);
    text-align: center;
}
.reveal-logo-hover.hoverd {
    transform: translateY(0px);
    opacity: 1;
    transition: all ease-in-out 0.3s;
}
.header ul {
    display: flex;
    list-style: none;
    color: #fff;
}
.header ul li{
    margin-right: 20px;
}
a {
    cursor: pointer;
}
.about-description a {
   border-bottom: 1px solid #000;  
}
.header ul li:hover{
    border-bottom: 1px solid #000;
}
.header .flex {
    display: flex;
    justify-content: space-between;
}
.center svg path{
    fill: #fff;
}
.video-background-mobile {
    display: none;
}
.video-background iframe{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.about-description {
    padding-top: 200px;
    max-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    padding-bottom: 200px;
    border-bottom: 1px solid #000;
}

@media (max-width: 599px) { 
    .header .flex .left {
        display: none;
    }
    .header .flex .right {
        display: none;
    }
    .header .flex .center {
        width: 100%;
    }
    .header .flex .center svg{
        width: 100%;
        height: auto;
    }

    .flex {
        flex-direction: column;
    }

    .strip-three {
        padding-top: 50px;
        padding-left: 17px;
        padding-right: 24px;
        padding-bottom: 50px;
    }

    .col.three, .col.six {
        width: 100%;
    }

    .strip-three .col img{
        width: 100%;
        height: auto;
    }

    .video-background-mobile {
        display: block;
    }
}

.beta .header {
    position: relative;
}

.beta .header .logo {
    width: 100%;
}

.beta {
    background-color: #000;
    font-family: 'Neue Montreal' !important;
    font-weight: 400 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.beta h5 {
    font-weight: 400 !important;
    letter-spacing: 1px;
    font-size: 13px;
}

.projects-title {
    color: #fff;
    font-size: 50px;
    margin: 0;
    padding: 0;

    @media (max-width: 576px) {
        font-size: 24px;
    }
}

.project-info {
    display: flex;
    gap: 16px;
    color: #fff;
    
    @media (max-width: 576px) {
        flex-direction: column;
        gap: 6px;
    }
}

.project-info h5 {
    @media (max-width: 576px) {
        padding: 0;
        margin: 0;
    }
}

.project-info {
    margin-top: 10px;
}

.main-projec {
    position: relative;
}

.projects {
    padding: 24px;
}

.intro {
    padding: 24px;
    display: flex;
    position: relative;
    z-index: 500;

    @media (max-width: 576px) {
        flex-direction: column;
    }
}

.menu {
    width: 50%;
    color: #fff;
    letter-spacing: 1px;
    font-size: 13px;

    @media (max-width: 576px) {
        width: 100%;
    }
}

.menu a:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.contact {
    color: #fff;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu ul li{
    margin-right: 15px;
}

.intro {
    pointer-events: none;


}

.intro.sticky {
    pointer-events: all;
}

.intro.click {
    pointer-events: all;
}

.intro_inner {
    color: #fff;
    width: 30%;

    @media (max-width: 576px) {
        width: 100%;
    }
}

.intro_inner.about {
    width: 45%;

    @media (max-width: 576px) {
        width: 100%;
    }
}

.services {
    border-top: 1px solid #fff;
    margin-top: 40px;
    padding-top: 20px;
}

.intro_inner h3 {
    margin: 0;
}

.intro.sticky {
    position: sticky;
    top: 0;
    margin-bottom: -68px;
    background-color: #000;
    z-index: 100;

    @media (max-width: 576px) {
        margin-bottom: 20px;
    }
}

.flex-project {
    display: flex;
    gap: 20px;

    @media (max-width: 576px) {
       flex-direction: column;
    }
}

.flex-project > div {
    width: 50%;

    @media (max-width: 576px) {
        width: 100%;
    }
}

.projects > div {
    margin-bottom: 60px;
}

.projects .flex-project > div {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    padding-bottom: 50px;

    @media (max-width: 576px) {
        aspect-ratio: unset;
        padding-bottom: 0;
     }
}

.projects .flex-project > div.about {
    aspect-ratio: unset;
} 

.about svg {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.flex-project > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.what-we-do {
    border-top: 1px solid #fff;
    color: #fff;
}

.wwd-list h5 {
    margin-top: 6px;
    margin-bottom: 0;
}

.mini-about {
    border-top: 1px solid #fff;
    margin-top: 40px;
    padding-right: 24px;
}

.mini-about p {
    font-weight: 400 !important;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.6;
    text-transform: uppercase;
}

a {
    cursor: pointer;
}

a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.flex-project .right {
    position: relative;
}

.flex-project .left {
    position: relative;
}

.link-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.no-marg{
    margin-top: 0;
    margin-bottom: 0;
   }

.no-marg-top {
    margin-top: 0;
}

.no-marg + p{
 margin-top: 0 !important;
}

.footer-beta {
    border-top: 1px solid #fff;
}

.footer-beta .right {
    padding-right: 24px;

    @media (max-width: 576px) {
        padding-left: 24px;
    }

}
 
.footer-beta .left ul {
    display: flex;
    color: #fff;
    list-style: none;
    padding-left: 24px;
}

.footer-beta .left ul li {
    margin-right: 10px;
    letter-spacing: 1px;
    font-size: 13px;
}

.footer-above {
    font-family: 'Domaine Disp Cond';
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 70px;
    padding-left: 24px;

    @media (max-width: 576px) {
        font-size: 50px;
    }
}

.footer-above .second-line {
    margin-top: 20px;
    margin-left: calc(50% - 24px);

    @media (max-width: 576px) {
        margin-left: 0;
    }
}

.talent-flex {
    margin-top: 100px;
    padding-left: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.talent {
    width: 24%;
    color: #fff;
    margin-right: 1%;

    @media (max-width: 576px) {
        width: 94%;
    }
}

.talent h4 {
    font-family: 'Domaine Disp Cond';
}

.talent img {
    width: 100%;
    height: auto;
}

.talent-name {
    text-transform: uppercase;
}

.small-header .header {
    height: 78px;
    overflow: hidden;
}

.small-header .main-project {
    margin-top: 90px;
    margin-bottom: 50px;

    @media (max-width: 576px) {
        margin-top: 20px;
    }
}

.main-project img {
    width: 100%;
    height: auto;
}

.main-project {
    position: relative;
}

.main-project svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

.flex-two-col {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: 576px) {
       flex-wrap: wrap;
    }
}

.full-width.first {
    margin-top: 90px;
    margin-bottom: 50px;

    @media (max-width: 576px) {
        margin-top: 20px;
    }
}

.flex-two-col > * {
    width: calc(50% - 10px);

    @media (max-width: 576px) {
        width: 100%;
    }
}

.flex-left {
    @media (max-width: 576px) {
        margin-bottom: 20px;
     }
}

.flex-two-col > * img {
    width: 100%;
    height: auto;
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
}

.flex-project-wrapper {
    margin-top: 90px;
    margin-bottom: 50px;

    @media (max-width: 576px) {
        margin-top: 20px;
    }
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.sj-back {
    background-color: #F7F4F1;
}

.full-width img {
    width: 100%;
    height: auto;
}

.hover-window {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.hover-window h3 {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.flex-project .right:hover .hover-window {
    opacity: 1;
}

.flex-project .left:hover .hover-window {
    opacity: 1;
}

.second-logo {
    width: 36px;
    height: 30px;
    position: absolute;
    right: 24px;
    top: 16px;
    opacity: 0;
}

.second-logo.sticky {
    opacity: 1;
}